In [26]:
import os
import matplotlib.pyplot as plt
from common.utils import load_data
%matplotlib inline
import pandas as pd
from datetime import datetime

In [27]:
# sample datasets:
cyclist_trip_path = "./data/202106-divvy-tripdata.csv"
flight_data_path = "./data/flights.csv"
container_data_path = "./data/container-ports-2000-2017.csv"

In [28]:
cyclist_df = pd.read_csv(cyclist_trip_path, delimiter=",")
cyclist_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99FEC93BA843FB20,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.80,-87.59,41.80,-87.60,member
1,06048DCFC8520CAF,electric_bike,2021-06-04 11:18:02,2021-06-04 11:24:19,NaN,NaN,NaN,NaN,41.79,-87.59,41.80,-87.60,member
2,9598066F68045DF2,electric_bike,2021-06-04 09:49:35,2021-06-04 09:55:34,NaN,NaN,NaN,NaN,41.80,-87.60,41.79,-87.59,member
3,B03C0FE48C412214,electric_bike,2021-06-03 19:56:05,2021-06-03 20:21:55,NaN,NaN,NaN,NaN,41.78,-87.58,41.80,-87.60,member
4,B9EEA89F8FEE73B7,electric_bike,2021-06-04 14:05:51,2021-06-04 14:09:59,NaN,NaN,NaN,NaN,41.80,-87.59,41.79,-87.59,member

In [32]:
# add date column containing only the day of the rides for each ride
cyclist_df['started_at'] = pd.to_datetime(cyclist_df['started_at'], format='%Y-%m-%d %H:%M:%S')
cyclist_df['day'] = cyclist_df['started_at'].dt.strftime('%m-%d')

In [33]:
cyclist_df['day']

0         06-13
1         06-04
2         06-04
3         06-03
4         06-04
          ...
729590    06-14
729591    06-30
729592    06-13
729593    06-08
729594    06-03
Name: day, Length: 729595, dtype: object