In [2]:
import sys
sys.path.append('../../')
import os
import warnings
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt
import math

from sklearn.svm import SVR
from sklearn.preprocessing import MinMaxScaler
from common.utils import load_data, mape

In [3]:
data_path = "../../data/GDP.csv"
data = pd.read_csv(data_path, delimiter=",")

In [12]:
train_data = data.iloc[:220]
test_data = data.iloc[220:]

In [14]:
scaler = MinMaxScaler()
train['GDP'] = scaler.fit_transform(train_data)
test['GDP'] = scaler.transform(test_data)

           DATE        GDP
220  2002-01-01  10783.500
221  2002-04-01  10887.460
222  2002-07-01  10984.040
223  2002-10-01  11061.433
224  2003-01-01  11174.129
..          ...        ...
296  2021-01-01  22038.226
297  2021-04-01  22740.959
298  2021-07-01  23202.344
299  2021-10-01  24002.815
300  2022-01-01  24386.734

[81 rows x 2 columns]